name: Lint Reusable

on:
  workflow_call:

jobs:
  golangci-lint:
    name: Запустить линтинг всего проекта
    runs-on: ubuntu-latest

    steps:
      - name: Выполнить чекаут на нужный коммит
        uses: actions/checkout@v4.2.2

      - name: Установить Go
        uses: actions/setup-go@v5.4.0
        with:
          go-version: '1.24'

      - name: Посмотреть go.mod (debug)
        run: cat go.mod || echo "go.mod not found"

      - name: Установить Task
        uses: arduino/setup-task@v2.0.0

      - name: Запустить golangci-lint через Taskfile
        run: task lint
